# modsec.env provides environment that is used for Modsecurity container / reverse proxy setup
# === ModSecurity NGINX options ===
# loglevels: info, warn, error crit, alert, and emerg
LOGLEVEL=error
SERVER_TOKENS=off
SERVERNAME=modsec-proxy
NGINX_ALWAYS_TLS_REDIRECT=on
BACKEND=http://web:8080
# SSL tuning
SSL_CIPHERS="ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS"
SSL_PREFER_CIPHERS=on
SSL_PROTOCOLS="TLSv1.2 TLSv1.3"
PROXY_TIMEOUT="15s"
# Nginx uses selfsigned cert when not enabled:
# SSL_CERT=/keys/cert.pem
# SSL_CERT_KEY=/keys/privkey.pem

# === Custom options ===
# Content Security Policy
OVERRIDE_UPSTREAM_CSP=true
CSP="default-src 'none'; object-src 'none'; base-uri 'none';  default-src 'none'; script-src 'self' 'unsafe-inline'; connect-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; font-src 'self' data:; frame-ancestors 'self'; form-action 'self'"

# === ModSecurity options ===
# for testing without WAF
#MODSEC_RULE_ENGINE=off
MODSEC_AUDIT_ENGINE=On
MODSEC_AUDIT_LOG_PARTS='ABCEFHKZ'
# body without files + info about files:
# MODSEC_AUDIT_LOG_PARTS='ABEFHIJKZ'
#A	Audit log header (mandatory)
#B	Request headers
#C	Request body
#D	Reserved
#E	Response body
#F	Response headers
#G	Reserved
#H	Audit log trailer, which contains additional data
#I	Compact request body alternative (to part C), which excludes files
#J	Information on uploaded files (available as of version 2.6.0)
#K	Contains a list of all rules that matched for the transaction
#Z	Final boundary (mandatory)